.affiliation {
    font-style: italic;
}

.affiliation p {
    font-weight: bold;
    font-style: normal;
}

.links a {
    font-weight: bold;
    background-color: #454545;
    border-left: 1px;
    border-radius: 290486px;
    padding: 4px 12px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 8px;
}

a.author-link {
    color: black;
    text-decoration: none;
}
a.author-link:hover {
    color: #004080;
    text-decoration: underline;
}